button {
  padding: 10px;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 200px;
}

.clients {
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
  width: 20%;
  max-width: 240px
}

@media screen and (max-width: 850px) {
  .clients {
    width: fit-content;
  }
}